@use "global" as *;

.layout-about-philosophy {
    margin-top: rem(80);
    padding-top: rem(60);
    padding-bottom: rem(246);

    @include mq(md) {
        margin-top: rem(120);
        padding-top: 0;
        padding-bottom: 0;
    }
}