@use "global" as *;

.button {
    display: inline-block;
    color: $navy-font;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: $medium;
    line-height: 1;
    font-family: $english-sub-font-family;
}


.button span {
    position: relative;
}

.button span::before {
    position: absolute;
    bottom: rem(-4);
    left: 0;
    content: '';
    width: 100%;
    height: rem(1);
    background-color: $navy-font;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: all 0.3s;
}

.button span:hover::before {
    transform: scale(1, 1);
}

.button span::after {
    position: absolute;
    content: '';
    width: rem(6.5);
    height: rem(6.5);
    border-right: 1px solid $navy-font;
    border-top: 1px solid $navy-font;
    transform:  translateY(-50%) rotate(45deg);
    top: 50%;
    right: rem(-10);
    transition: all 0.3s 0.3s;
}

.button span:hover::after {
    right: rem(-12);
}