@use "global" as *;

.button-border {
    display: inline-block;
    color: $navy-font;
    text-transform: uppercase;
    font-size: rem(14);
    font-weight: $medium;
    line-height: 1;
    font-family: $english-sub-font-family;
    padding: rem(14) rem(20) rem(14) rem(24);
    border: 1px solid $navy;
    border-radius: rem(5);
}


.button-border span {
    position: relative;
    padding-right: rem(16);
}

.button-border span::before {
    position: absolute;
    bottom: rem(-4);
    left: 0;
    content: '';
    width: 100%;
    height: rem(1);
    background-color: $navy;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: all 0.3s;
}

.button-border span:hover::before {
    transform: scale(1, 1);
}

.button-border span::after {
    position: absolute;
    content: '';
    width: rem(6.5);
    height: rem(6.5);
    border-right: 1px solid $navy;
    border-top: 1px solid $navy;
    transform:  translateY(-50%) rotate(45deg);
    top: 50%;
    right: rem(2);
    transition: all 0.3s 0.3s;
}

.button-border span:hover::after {
    right: 0;
}