@use "global" as *;

.contact {
    position: relative;
}

.contact__content {
    color: $white;
    background-color: $navy;
    text-align: center;
    padding-top: rem(80);
    padding-bottom: rem(80);
    display: flex;
    flex-direction: column;

    @include mq(md) {
        padding-left: min((175 / 1440) * 100vw, rem(175));
        text-align: left;
        width: 43.0556%;
        padding-top: 0;
        padding-bottom: 0;
        justify-content: center;
    }
}

.contact__flex {
    display: flex;
    flex-direction: column;

    @include mq(md) {
        flex-direction: row-reverse;
    }
}

.contact__text {
    font-size: rem(14);
    line-height: 2;

    @include mq(md) {
        font-size: rem(18);
        line-height: 1.6667;
    }
}

.contact__button {
    margin-top: rem(32);
    margin-left: auto;
    margin-right: auto;

    @include mq(md) {
        margin-top: rem(25);
    }
}

.contact__button--tel {
    margin-top: rem(20);
}

.contact__reception {
    font-size: rem(12);    
    margin-top: rem(10);

    @include mq(md) {
        font-size: rem(14);
        margin-top: rem(22);
    }
}

.contact__image {
    aspect-ratio: 375 / 240;
    overflow: hidden;

    @include mq(md) {
        aspect-ratio: 820 / 446;
        width: 56.9444%;
    }
}

.contact__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}