@use "global" as *;

.hamburger {
    position: relative;
    cursor: pointer;
    width: rem(25);
    height: rem(14);
    z-index: 5;
    transition: all 0.2s;
}

.hamburger:hover {
    opacity: 0.6;
}

.hamburger span {
    position: absolute;
    left: 0;
    display: inline-block;
    background-color: #242424;
    width: inherit;
    height: rem(1);
    transition: all 0.4s;
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    top: 50%;
    transform: translateY(-50%);
}

.hamburger span:nth-child(3) {
    bottom: 0;
}


.hamburger.active span {
    background-color: $white;
}

// .activeが付与されたとき
.hamburger.active span:nth-child(1) {
    transform: translateY(rem(6)) rotate(-45deg);
}

.hamburger.active span:nth-child(2) {
    opacity: 0;
}

.hamburger.active span:nth-child(3) {
    transform: translateY(rem(-7)) rotate(45deg);
}