@use "global" as *;


.header {
    width: 100%;
    height: rem(80);
    position: relative;
    z-index: 5;
}

.header__logo {
    width: rem(114);
    height: rem(80);
    z-index: 5;
    position: relative;

    @include mq(md) {
        width: rem(258);
        height: rem(180);
    }
}

.header__nav-button {
    position: absolute;
    top: rem(33);
    right: rem(30);
}

.header.active {
    background-color: $navy-bg;
}

.header__circle-bg {
    position: fixed;
    z-index: 2;
    width: rem(100);
    height: rem(100);
    border-radius: 50%;
    background-color: $navy-bg;
    transform: scale(0);
    right: rem(-50);
    bottom: rem(-50);
    transition: all 0.6s;
}

.header__circle-bg.active {
    transform: scale(50);
}