@use "global" as *;

.works-card {
    background-color: $white;
    padding-bottom: rem(30);
    border-bottom: 1px solid #E2E2E2;

    @include mq(md) {
        padding-bottom: rem(50);
    }
}

.works-card__wrapper {
    display: flex;
    align-items: flex-start;
    gap: rem(18);

    @include mq(md) {
        gap: rem(50);
        align-items: stretch;
    }
}

.works-card__image {
    aspect-ratio: 120 / 90;
    overflow: hidden;
    width: 40.4780%;

    @include mq(md) {
        aspect-ratio: 290 /229;
        width: 28.4313%;
    }
}

.works-card__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.works-card__information {
    width: 53.2204%;

    @include mq(md) {
        width: 66.6667%;
    }
}

.works-card__category {
    display: inline-block;
}

.works-card__title {
    font-size: rem(14);
    font-weight: $medium;
    line-height: 2;
    margin-top: rem(12);
    display: inline-block;
    position: relative;
    // overflow: hidden;
    // display: -webkit-box;
    // -webkit-box-orient: vertical;
    // -webkit-line-clamp: 3;

    @include mq(md) {
        font-size: rem(24);
        margin-top: rem(30);
        // -webkit-line-clamp: 1;
    }
}

.works-card__title::after {
    content: '';
    position: absolute;
    width: 0;
    height: rem(1);
    background-color: $black;
    bottom: rem(-4);
    left: 0;
    transition: all 0.5s;
}

.works-card__title:hover::after {
    width: 100%;
}

.works-card__text {
    @include mq(md) {
        color: $gray;
        font-size: rem(16);
        font-weight: $normal;
        line-height: 2.375;
        margin-top: rem(30);
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
    }
}

.works-card__date {
    font-size: rem(10);
    font-weight: $bold;
    color: $lightgray;
    margin-top: rem(12);

    @include mq(md) {
        font-size: rem(12);
        margin-top: rem(17);
    }
}
